*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
   display: flex;
   padding: 1rem;
   background-color:white;
    flex-direction: column;
    border: 10px;
    margin-left: auto;
}
header h2{
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    padding: 20px;
   
}
.home{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home p{
    margin-left: 20px;
    padding: 20px;
    margin-top: -20px;
    
}
.home h3{
    font-size: 1.5rem;
    margin-left: 15px;
}